.player1 {
    background-color:coral;
}
.player2 {
    background-color: steelblue;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.scores {
    position: absolute;
    right: 15px;
}